<phpunit bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">

    <selenium>
        <browser name="Google chrome" browser="*googlechrome" host="localhost" port="4444"/>
    </selenium>

</phpunit>